<?xml version="1.0" encoding="UTF-8"?>	<widget xmlns = "http://www.w3.org/ns/widgets"		xmlns:gap = "http://phonegap.com/ns/1.0"		id        = "com.villarrobledo.app"		versionCode="1.0.0"		version   = "1.0.0">		<name>Villarrobledo App</name>		<description>Información de Villarrobledo</description>		<author href="http://www.villarrobledo.com" email="villarrobledo.com@gmail.com">Juan Carlos Santos Ballesteros</author>		<preference name="phonegap-version" value="cli-5.2.0" />		<preference name="orientation" value="portrait" />		<preference name="fullscreen" value="false" />		<platform name="android" />		<access origin="*.villarrobledo.com" /> <!-- allow villarrobledo.com service -->		<icon src="icon.png" />	</widget>